body {
  text-align: center;
  background-color: aliceblue;
  font-size: 20px;
  font-weight: 600;
}

h1 {
  font-size: 50px;
  color: black;
}

#root {
  margin-top: 200px;
}

#result {
  font-size: 190px;
  margin-bottom: 20px;
  color: black;
}

button {
  padding: 10px 15px;
  border: 3px solid;
  border-radius: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}
